.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding-block: 16px;
  background-color: var(--color-dark);
  z-index: var(--z-index-100);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: clamp(16px, 2vw, 24px);
}

.header__logo {
  transition: transform 0.9s;

  @media (any-hover: hover) {
    &:hover {
      transform: rotateY(360deg);
    }
  }

  @media (any-hover: none) {
    &:active {
      transform: rotateY(360deg);
    }
  }
}

.header__menu {
  @media (max-width: 767px) {
    position: fixed;
    top: 24px;
    left: 0;
    right: 0;
    margin-inline: 16px;
    padding-block: 32px;
    border-radius: var(--border-radius-large);
    box-shadow: var(--shadow);
    background-color: var(--color-dark);
    opacity: 0;
    transition-duration: var(--transition-duration-longer);
    pointer-events: none;
  }
}

.header__list {
  display: inline-flex;
  column-gap: 24px;
  padding-block: 16px;

  @media (max-width: 1024px) {
    column-gap: 16px;
  }

  @media (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }
}

.header__item {
  position: relative;
}

.header__link {

  &:hover {
    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    translate: -50%;
    width: 0;
    height: 2px;
    background-color: currentColor;
    transition-duration: var(--transition-duration);
  }
}

.header__buttons {
  display: flex;
  align-items: center;
  column-gap: 16px;
}

.show-menu {
  transform: translateY(90px);
  opacity: 1;
  pointer-events: initial;
}

.is-scrolled {
  padding-block: 12px;
  box-shadow: var(--shadow);
}