.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.hero__data {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
}

.hero__title {

  & span {
    font-family: var(--font-accent), sans-serif;
    color: var(--color-accent);
  }
}

.hero__profession {
  & span {
    font-family: var(--font-accent), sans-serif;
    color: var(--color-accent);
  }
}

.hero__button {
  column-gap: 0.5rem;
  align-self: center;

  @media (max-width: 1281px) {
    align-self: start;
  }

  & svg {
    width: 30px;
    
    @media (max-width: 767px) {
      width: 25px;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}