@import "normolize.css";
@import "libs/swiper-bundle.min.css";

@import "fonts.css";
@import "variables.css";
@import "utils.css";
@import "globals.css";

@import "components/header.css";
@import "components/theme.css";
@import "components/burger-button.css";
@import "components/hero.css";
@import "components/button.css";
@import "components/skills.css";
@import "components/scroll-animation.css";
@import "components/portfolio.css";
@import "components/swiper.css";

@import "components/footer.css";

/*header,*/
/*main > *:not(:last-child) {*/
/*  display: none;*/
/*}*/