@import "normolize.css";
@import "fonts.css";
@import "variables.css";
@import "utils.css";
@import "globals.css";

@import "components/header.css";
@import "components/theme.css";
@import "components/burger-button.css";
@import "components/hero.css";
@import "components/skills.css";
@import "components/scroll-animation.css";