:root {
  --color-light: #FFF8EA;
  --color-dark: #594545;

  --color-primary: #9E7676;
  --color-secondary: #815B5B;

  --color-accent: #FBDB93;

  --font-main: 'Science Gothic';
  --font-accent: 'Artifika';

  --border: 1px solid var(--color-secondary);

  --container-width: 1600px;
  --container-padding-x: 16px;

  --section-padding-y: clamp(50px, 5vh, 75px);

  --transition-duration: 0.2s;
  --transition-duration-longer: 0.4s;
}