.button {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 0.5rem;
  width: 350px;
  padding-block: 16px;
  padding-inline: 32px;
  color: var(--color-light);
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);
  transition-duration: var(--transition-duration);

  &:active {
    scale: 0.9;
  }

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-accent);
      box-shadow: var(--shadow-inset);
    }
  }

  @media (any-hover: none) {
    &:active {
      color: var(--color-accent);
      box-shadow: var(--shadow-inset);
      scale: 0.9;
    }
  }

  @media (max-width: 450px) {
    width: 100%;
  }

  & svg {
    width: 30px;

    @media (max-width: 767px) {
      width: 25px;
    }
  }

  @media (max-width: 767px) {
    width: 100%;
  }
}