.hero {
  margin-top: 3rem;
}

.hero__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 767px) {
    flex-direction: column-reverse;
    justify-content: center;
  }
}

.hero__data {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  padding: 1rem;
}

.hero__profession {
  & span {
    font-family: var(--font-accent), sans-serif;
    color: var(--color-accent);
  }
}

.hero__button {
  align-self: center;

  @media (max-width: 1281px) {
    align-self: start;
  }
}

.hero__image {
  width: 700px;
  justify-self: center;
  mask-image: linear-gradient(
    to bottom,
    #000 80%,        /* Верхняя часть видна */
    transparent 100%  /* Нижняя часть полностью прозрачна */
  );

  @media (max-width: 767px) {
    width: 500px;
  };
}