.portfolio__title {
  padding-left: 2rem;

  @media (max-width: 767px) {
    padding-left: 1rem;
  }
}

.portfolio__container {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;

  @media (max-width: 767px) {
    row-gap: 1rem;
  }
}

.portfolio__swiper {
  padding: 1rem;
}

.portfolio__card {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
  max-width: 500px;
  flex-shrink: 0;
  border: var(--border);
  border-radius: var(--border-radius-large);
  box-shadow: var(--shadow);

  @media (max-width: 1024px) {
    max-width: 400px;
  }

  @media (max-width: 767px) {
    max-width: 300px;
  }

  &:hover {
    .portfolio__link {
      opacity: 1;
    }
  }
}

.portfolio__image {
  position: relative;
  border-radius: var(--border-radius-large);
  overflow: hidden;
}

.portfolio__img {
  width: 100%;
  height: 100%;
  object-fit: cover;

  &:hover {
    scale: 1.02;
  }
}

.portfolio__link {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  border: 2px solid var(--color-secondary);
  border-radius: 50%;
  background-color: var(--color-dark);
  box-shadow: var(--shadow-inset);
  opacity: 0;

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
  }

  & svg {
    padding: 0.2rem;
    color: var(--color-light);
  }
}

.portfolio__data {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1rem;
}

.portfolio__icons {
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 1rem;
}

.portfolio__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: var(--color-dark);
  box-shadow: var(--shadow);

  &:hover {
    box-shadow: var(--shadow-inset);
  }

  @media (max-width: 767px) {
    width: 30px;
    height: 30px;
  }

  & img {
    width: 20px;
    height: 20px;
  }
}
