.scroll-animation {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  padding: 16px;
  overflow: hidden;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    width: 20%;
    height: 100%;
    z-index: var(--z-index-10);
  }

  &:before {
    right: 0;
    background: linear-gradient(90deg,
    hsla(220, 24%, 94%, 0) 0, var(--color-dark) 100%);
  }

  &:after {
    left: 0;
    background: linear-gradient(90deg,
    var(--color-dark) 0%,
    hsla(220, 24%, 94%, 0) 100%);
  }
}

.scroll-animation__list {
  display: flex;
  padding: 16px;
  column-gap: 16px;
  animation: scroll 25s linear infinite;

  @media (any-hover: hover) {
    &:hover {
      animation-play-state: paused;
    }
  }

  @media (any-hover: none) {
    &:active {
      animation-play-state: paused;
    }
  }
}

.scroll-animation__list-reverse {
  animation-direction: reverse;
  animation-delay: -1s;
}

@keyframes scroll {
  0%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-50%);
  }
}

.scroll-animation__item {
  display: flex;
  justify-content: center;
  padding: 24px;
  background-color: var(--color-dark);
  flex-shrink: 0;
  border: var(--border);
  border-radius: 50%;
  box-shadow: var(--shadow);
  transition-duration: var(--transition-duration-longer);

  @media (any-hover: hover) {
    &:hover {
      box-shadow: var(--shadow-inset);
    }
  }

  @media (any-hover: none) {
    &:active {
      box-shadow: var(--shadow-inset);
    }
  }
}

.scroll-animation__image {
  width: 60px;
  height: 60px;

  @media(max-width: 767px) {
    width: 40px;
    height: 40px;
  }
}
