.theme__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-block: 1rem;
  color: var(--color-light);
  background-color: transparent;
  border: none;
  overflow: hidden;
  transition-duration: var(--transition-duration);

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-accent);
      border-radius: 50%;
    }
  }

  @media (any-hover: none) {
    &:active {
      color: var(--color-accent);
      border-radius: 50%;
    }
  }
}

.theme__icon {
  width: 30px;
  height: 30px;
  transition: transform 0.5s ease, opacity 0.4s ease;
}

.theme__moon {
  position: absolute;
  opacity: 0;
  transform: rotate(-90deg);
}