@font-face {
  font-family: 'Artifika';
  src: url('/assets/fonts/Artifika-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Science Gothic';
  src: url('/assets/fonts/ScienceGothic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Science Gothic';
  src: url('/assets/fonts/ScienceGothic-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Science Gothic';
  src: url('/assets/fonts/ScienceGothic-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}