* {
  -webkit-tap-highlight-color: transparent;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--font-main), sans-serif;
  font-size: clamp(15px, 1.2vw, 18px);
  color: var(--color-light);
  background-color: var(--color-dark);
  transition-duration: var(--transition-duration);
}

main {
  flex-grow: 1;
}

section {
  padding-block: var(--section-padding-y);
}

.section__title {
  & span {
    font-family: var(--font-accent), sans-serif;
    color: var(--color-accent);
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-light);
}

h1, .h1 {
  font-size: clamp(32px, 6vw, 64px);
  font-weight: 700;
}

h2, .h2 {
  font-size: clamp(26px, 4.5vw, 48px);
  font-weight: 700;
}

h3, .h3 {
  font-size: clamp(22px, 3.5vw, 36px);
  font-weight: 700;
}

h4, .h4 {
  font-size: clamp(18px, 2.5vw, 28px);
  font-weight: 600;
}

h5, .h5 {
  font-size: clamp(16px, 2vw, 20px);
  font-weight: 500;
}

h6, .h6 {
  font-size: clamp(14px, 1.5vw, 18px);
  font-weight: 600;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;

  @media (any-hover: hover) {
    &:hover {
      color: var(--color-accent);
    }
  }

  @media (any-hover: none) {
    &:active {
      color: var(--color-accent);
    }
  }

  &[class] {
    text-decoration: none;
  }
}

:focus-visible {
  outline: 2px dashed var(--color-accent);
  outline-offset: 4px;
  transition-duration: 0s !important;
}
